body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    font-family: Arial, sans-serif;
}

.app-container {
    text-align: center;
    height: 100vh;
}

.background-pattern {
    position: absolute;
    top: 5000;
    left: 2000;
    width: 900%;
    height: 1000%;
    background-image: url('background-pattern.png'); /* Replace with your pattern image */
    background-size: cover;
    z-index: -1;
}

.logo-container {
    margin-top: 20px;
}

.logo-container img {
    width: 300px;
}

.content-container {
    margin-top: 40px;
}