body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500vh;
    background-color: #f9f9f9;

}

.container {
    text-align: center;
    background: white;
    padding: 20px 40px;
    border-radius:  100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
}

.logo img {
    width: 80px;
    height: auto;
    margin-bottom: 50px;
    display: flex;
}

h1 {
    color: #333;
    margin-bottom: 50px;
    display: flex;
}

p {
    color: #666;
    margin-bottom: 20px;
    display: flex;
}

.input-group {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.tab-btn {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
    outline: none;
    background-color: red;
    display: flex;
}

.tab-btn.active {
    background-color: #ff5757;
    color: Red;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
}

.send-btn {
    padding: 10px 20px;
    background-color: #ff5757;
    color: Red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
}

.send-btn:hover {
    background-color: #e24444;
}